@font-face {
    font-family: "Caveat Brush";
    src: url("fonts/CaveatBrush-Regular.ttf");
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url("https://images.unsplash.com/photo-1601050690597-df0568f70950?ixlib=rb-4.0.6&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80") center;
    background-size: cover;
}

/* Adding flex display to several elements */
.content, nav, .home, .sections, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main content */

.content {
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

/* Navbar */

nav {
    width: 100vw;
    height: 20vh;
    background: rgba(0, 0, 0, .8);
    justify-content: space-around;
}

/* Navbar title */
.title {
    font-family: 'Caveat Brush', cursive;
    font-size: 72px;
    margin-top: 10px;
}

.title, h1, h3 {
    text-align: center;
}

/* Navbar headings topics*/
h1 {
    font-size: 24px;
    font-weight: 400;
}

/* Navbar headings topics */
.sections {
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
    list-style: none;
    font-size: 24px;
    margin-right: 50px;
}

.sections li {
    width: 110px;
    height: 45px;
    cursor: pointer;
    transition: 0.6s;
    text-align: center;
    margin-bottom: -10px;
}

.sections li:hover {
    transform: translateY(-7px);
}

.sections li.active {
    border-bottom: 2px solid white;
}

.sections li.active:hover {
    padding-bottom: 10px;
}

/* Content displaying home, menu, contact */

.section {
    width: 750px;
    height: 650px;
    background: rgba(0, 0, 0, .6);
    margin-top: 50px;
    padding: 25px 0;
    transition: .6s;
}

h3 {
    font-weight: 300;
    font-size: 24px;
}

h3:nth-of-type(2) {
    margin-top: 0px;
}

.home img {
    width: 50%;
    border-radius: 50%;
    margin: 25px 175px;
}

/* Menu items */

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    padding-left: 75px;
}

/* Dishes inside menu */
.menu .box {
    width: 250px;
    height: 250px;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .4s;
}

.menu .box:hover {
    background: rgba(255, 255, 255, .2);
    transform: scale(1.03);
}

.menu .box img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.menu .box .samosa_title {
    font-size: 21px;
}


/* Contact information */

.contact .phone, .contact .address {
    display: flex;
    width: 550px;
    height: 50px;
    justify-content: space-around;
    margin-right: 100px;
}

.contact .phone {
    width: 200px;
    margin-right: 450px;
}

.contact svg {
    width: 35px; 
    height: 35px;
    overflow: hidden;
    display: inline-block;
    margin-top: 20px;
}

.contact svg path {
    fill: white;
}

/* Map image */
.contact .map {
    width: 650px;
    height: 450px;
    margin-top: 30px;
}